h1 {
  margin: 3.125rem auto -1px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
}

.subtitle {
  display: inline;
}

.fullstack {
  text-decoration: underline;
  display: inline;
}

.top-container {
  background-color: #e4f9f5;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.first-cloud {
  position: absolute;
  top: 3.125rem;
  right: 28.125em;
}

.second-cloud {
  position: absolute;
  top: 400px;
  left: 450px;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 200px;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  top: 100px;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
}
