.top-container {
  background-color: #e4f9f5;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: #11999e;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #40514e;
}

.first-cloud {
  position: absolute;
  top: 50px;
  right: 450px;
}

.second-cloud {
  position: absolute;
  bottom: 300px;
  left: 450px;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 200px;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  top: 100px;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
}
